body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1150px;
  height:708px;
  display:flex;
}
#u2129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:1110px;
  height:1px;
  display:flex;
}
#u2130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:102px;
  width:118px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:102px;
  width:97px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:154px;
  width:194px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:206px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:102px;
  width:136px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:102px;
  width:84px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u2139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:154px;
  width:105px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2141 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2141_img.mouseOver {
}
#u2141.mouseOver {
}
#u2141_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2141.mouseDown {
}
#u2141_img.disabled {
}
#u2141.disabled {
}
#u2141_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2141.mouseOver.mouseDown {
}
#u2141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2142_img.mouseOver {
}
#u2142.mouseOver {
}
#u2142_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2142.mouseDown {
}
#u2142_img.disabled {
}
#u2142.disabled {
}
#u2142_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2142.mouseOver.mouseDown {
}
#u2142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:328px;
  width:1110px;
  height:1px;
  display:flex;
}
#u2143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:648px;
  width:64px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u2144 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2144_img.mouseOver {
}
#u2144.mouseOver {
}
#u2144_img.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u2144.mouseDown {
}
#u2144_img.disabled {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u2144.disabled {
}
#u2144_img.mouseOver.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u2144.mouseOver.mouseDown {
}
#u2144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:72px;
  height:24px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u2146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(41, 132, 248, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:42px;
  width:6px;
  height:20px;
  display:flex;
}
#u2147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:254px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
