body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1150px;
  height:708px;
  display:flex;
}
#u5599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:1110px;
  height:1px;
  display:flex;
}
#u5600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:102px;
  width:118px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5601_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:102px;
  width:97px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5604_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:154px;
  width:194px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:206px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:102px;
  width:136px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:102px;
  width:84px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u5609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:154px;
  width:105px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5611_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5611 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5611_img.mouseOver {
}
#u5611.mouseOver {
}
#u5611_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5611.mouseDown {
}
#u5611_img.disabled {
}
#u5611.disabled {
}
#u5611_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5611.mouseOver.mouseDown {
}
#u5611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5612_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5612 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5612_img.mouseOver {
}
#u5612.mouseOver {
}
#u5612_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5612.mouseDown {
}
#u5612_img.disabled {
}
#u5612.disabled {
}
#u5612_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5612.mouseOver.mouseDown {
}
#u5612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:328px;
  width:1110px;
  height:1px;
  display:flex;
}
#u5613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:648px;
  width:64px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u5614 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5614_img.mouseOver {
}
#u5614.mouseOver {
}
#u5614_img.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u5614.mouseDown {
}
#u5614_img.disabled {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u5614.disabled {
}
#u5614_img.mouseOver.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u5614.mouseOver.mouseDown {
}
#u5614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:72px;
  height:24px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u5616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5616_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(41, 132, 248, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:42px;
  width:6px;
  height:20px;
  display:flex;
}
#u5617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:254px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5619_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
