body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:708px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1150px;
  height:708px;
  display:flex;
}
#u3933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:1110px;
  height:1px;
  display:flex;
}
#u3934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:102px;
  width:118px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:102px;
  width:97px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3937_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:154px;
  width:194px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3939_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:206px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:102px;
  width:136px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:102px;
  width:84px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-style:normal;
  text-align:left;
}
#u3943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3943_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:154px;
  width:105px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3945 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3945_img.mouseOver {
}
#u3945.mouseOver {
}
#u3945_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3945.mouseDown {
}
#u3945_img.disabled {
}
#u3945.disabled {
}
#u3945_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3945.mouseOver.mouseDown {
}
#u3945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:112px;
  height:52px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:648px;
  width:100px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3946 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3946_img.mouseOver {
}
#u3946.mouseOver {
}
#u3946_img.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3946.mouseDown {
}
#u3946_img.disabled {
}
#u3946.disabled {
}
#u3946_img.mouseOver.mouseDown {
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3946.mouseOver.mouseDown {
}
#u3946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:2px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:328px;
  width:1110px;
  height:1px;
  display:flex;
}
#u3947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:648px;
  width:64px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u3948 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3948_img.mouseOver {
}
#u3948.mouseOver {
}
#u3948_img.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u3948.mouseDown {
}
#u3948_img.disabled {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u3948.disabled {
}
#u3948_img.mouseOver.mouseDown {
  left:-6px;
  top:-6px;
  width:76px;
  height:52px;
}
#u3948.mouseOver.mouseDown {
}
#u3948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:72px;
  height:24px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.8980392156862745);
}
#u3950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(41, 132, 248, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:42px;
  width:6px;
  height:20px;
  display:flex;
}
#u3951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:254px;
  width:188px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:154px;
  width:80px;
  height:32px;
  display:flex;
  font-family:"PingFang HK", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
