body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  display:flex;
}
#u3039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:240px;
  width:325px;
  height:170px;
  display:flex;
}
#u3040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:15px;
  display:flex;
}
#u3041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u3042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:303px;
  width:325px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:1px;
  display:flex;
}
#u3044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:259px;
  width:325px;
  height:15px;
  display:flex;
  text-align:center;
}
#u3045 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:365px;
  width:120px;
  height:30px;
  display:flex;
}
#u3046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:75px;
  width:325px;
  height:135px;
  display:flex;
}
#u3047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:87px;
  width:325px;
  height:15px;
  display:flex;
  text-align:center;
}
#u3048 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:111px;
  width:325px;
  height:23px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:160px;
  width:325px;
  height:15px;
  display:flex;
  text-align:center;
}
#u3050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
