body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u1667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u1668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:375px;
  height:44px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:19px;
  width:44px;
  height:44px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1670 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:245px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1671 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:285px;
  width:250px;
  height:1px;
  display:flex;
}
#u1672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:245px;
  width:167px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1673 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:309px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1674 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:349px;
  width:250px;
  height:1px;
  display:flex;
}
#u1675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:309px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1676 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:392px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:631px;
  width:132px;
  height:16px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:442px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:97px;
  width:200px;
  height:120px;
  display:flex;
}
#u1680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:246px;
  width:40px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1681 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
