body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u1922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u1923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:375px;
  height:44px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:19px;
  width:44px;
  height:44px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:245px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:285px;
  width:250px;
  height:1px;
  display:flex;
}
#u1927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:245px;
  width:167px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:309px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:349px;
  width:250px;
  height:1px;
  display:flex;
}
#u1930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:309px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:392px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:631px;
  width:132px;
  height:16px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1933 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1933_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:442px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:97px;
  width:200px;
  height:120px;
  display:flex;
}
#u1935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:246px;
  width:40px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1936 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
