body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u1012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u1013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:375px;
  height:44px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:19px;
  width:44px;
  height:44px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1015 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:245px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1016 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:285px;
  width:250px;
  height:1px;
  display:flex;
}
#u1017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:245px;
  width:133px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:309px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1019 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:349px;
  width:250px;
  height:1px;
  display:flex;
}
#u1020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:309px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1021 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:392px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:631px;
  width:132px;
  height:16px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:442px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:97px;
  width:200px;
  height:120px;
  display:flex;
}
#u1025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:246px;
  width:40px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
