body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1096px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#0000BF;
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:764px;
  height:48px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#0000BF;
}
#u3345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3346_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:11px;
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:114px;
  width:100px;
  height:5px;
  display:flex;
  color:#0000BF;
}
#u3346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:1787px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:147px;
  width:1096px;
  height:1787px;
  display:flex;
  font-size:18px;
}
#u3347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
